@use '../../../theme/fgstore.web/style/variable.scss' as *;



.smr_desognSetTitle {
    // color: $homePageFontColor;
    // font-family: $homePageFontFamily;
    // font-size: $fontSize5;
    text-align: center;
    color: $textColor;
    font-size: 27px;
    font-family: $Pratafonts;
    font-weight: 500 !important;
    // margin-top: 20px;
    margin: 0;
    padding: 0;
    padding-block: 3%;
}

.smr_designSetViewmoreBtn {
    color: $titleColor !important;
    margin-left: 20px !important;
    text-decoration-color: $titleColor !important;
    font-size: $fontSize2 !important;
    cursor: pointer;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .collection-card {
        position: relative;
        width: 30%;
        margin: 5px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .collection-info {
            position: absolute;
            bottom: 30px;
            left: 30px;
            padding: 10px;
            border-radius: 5px;
            text-align: center;

            h3 {
                margin: 0 0 30px 0;
                font-size: $fontSize7;
                font-family: $primaryFontFamily;
                color: #fff;
                display: flex;
                justify-content: flex-start;
            }

            button {
                position: relative;
                background-color: #fff;
                color: #000;
                border: none;
                padding: 10px 30px;
                cursor: pointer;
                font-size: 1em;
                display: flex;
                justify-content: flex-start;
                overflow: hidden;
                transition: background-color 0.5s, color 0.3s;
            }

            button::before {
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: 1px solid $titleColor;
                transition: left 0.5s;
                z-index: 0;
            }

            button:hover::before {
                left: 0;
            }

            button:hover {
                background-color: transparent;
                color: #fff;
            }

            button>* {
                position: relative;
                z-index: 1;
            }

        }
    }
}

@media (max-width: 768px) {
    .collection-container {
        flex-direction: column;

        .collection-card {
            width: 80%;
            margin: 10px auto;
        }
    }
}