@use '../../style/variable.scss' as *;

.smr_B2cCart {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  position: relative;
  font-family: $primaryFontFamily;
}

.smr_B2C-container {
  padding: 0px;
}

.smr_b2ccartImage {
  max-width: 180px;
  object-fit: cover;
  border: none;
  outline: none;
}

.smr_b2cCartImagetd {
  max-width: 150px;
}

.smr_b2cCartPageButonGp {
  position: fixed;
  top: 0px;
  width: 40%;
  padding: 5px 15px;
  z-index: 11;
  background-color: white;

  .smr_b2ccartCloseIcon {
    text-align: end;
    margin-right: 10px;
    color: $titleColor;
    font-family: $primaryFontFamily;
    cursor: pointer;
  }

  .smr_cartB2cMainTitleBtn p {
    color: $titleColor;
    font-size: $fontSize7;
    text-align: center;
    font-family: $primaryFontFamily;
  }
}

.smr_b2cCartQTRm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  .smr_b2cCartRmBtn {
    margin: 0 !important;
    padding: 0 !important;
    color: $titleColor;
    cursor: pointer;
  }

}

.smr_B2cCheckoutBtnDiv {
  position: fixed;
  bottom: 0px;
  width: 40%;
  padding: 0px;
  z-index: 11;
  background-color: white;
  font-family: $primaryFontFamily;
  font-size: $fontSize3;

  .smr_B2cCheckoutBtn {
    border: none;
    background-color: #7d7f85;
    padding: 10px 0px;
    color: white;
    width: 100%;
    text-align: center;
  }
}

.smr_b2cCartTb {
  margin-top: 100px;
  padding: 20px;
}

.smr_B2C-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.smr_B2C-table th,
.smr_B2C-table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.smr_b2ccartContentTd {
  max-width: 240px;
}


.smr_B2C-text-right {
  text-align: center;
  font-size: $fontSize2;
  color: $titleColor;
  font-family: $primaryFontFamily;
}

.smr_b2ccartContentTd {
  display: flex;
  flex-direction: column;
  font-family: $primaryFontFamily;
}

.smr_b2ccartContentTitle {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: $titleColor;
  font-size: $fontSize2;
  font-family: $primaryFontFamily;
}

.smr_b2ccartContentMtDT {
  font-size: $fontSize2;
  color: $titleColor;
  font-family: $primaryFontFamily;
}

.smr_noB2CcartData {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .smr_title {
    color: $titleColor;
    font-size: $fontSize5;
  }

  .smr_desc {
    color: $titleColor;
    font-size: $fontSize2;
  }

  .smr_browseOurCollectionbtn {
    background-color: #7d7f85;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    outline: none;
    width: 180px;
  }
}


// for quantity

.smr_cartB2c-quantity {
  display: flex;
  width: 130px;
  height: 45px;
  border: 1px solid #ccc;
  font-family: $primaryFontFamily;

  .input {
    width: calc(100px * 0.5);
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    font-family: $primaryFontFamily;
    color: $titleColor;

    @media (max-width: 375px) {
      width: 30px !important;
    }
  }

  a.bttn,
  .bttn {
    width: calc(100px * 0.5);
    padding: 0;
    text-align: center;
    color: $titleColor;
    box-shadow: none;
    background-color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
    font-family: $primaryFontFamily;
  }
}



@media(max-width:1750px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 45% !important;
  }
}

@media(max-width:1600px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 48% !important;
  }
}

@media(max-width:1440px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 50% !important;
  }

  .smr_b2ccartImage {
    max-width: 160px;
    object-fit: cover;
  }
}

@media(max-width:1300px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 50% !important;
  }

  .smr_b2ccartImage {
    max-width: 150px;
    object-fit: cover;
  }
}

@media(max-width:1200px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 50% !important;
  }

  .smr_b2ccartImage {
    max-width: 120px;
    object-fit: cover;
  }
}

@media(max-width:1100px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 55% !important;
  }

  .smr_b2ccartImage {
    max-width: 120px;
    object-fit: cover;
  }

  .smr_b2ccartContentTitle {
    font-size: $fontSize2;
  }

  .smr_b2ccartContentMtDT,
  .smr_B2C-text-right {
    font-size: $fontSize1;
  }
}

@media(max-width:1000px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 68% !important;
  }
}

@media(max-width:840px) {

  .smr_B2ccartPaperDrawer,
  .smr_B2cCheckoutBtnDiv,
  .smr_b2cCartPageButonGp {
    width: 100% !important;
  }
}

@media(max-width:554px) {
  .smr_b2ccartImage {
    max-width: 80px;
    object-fit: cover;
  }

  .smr_b2ccartContentTitle {
    font-size: $fontSize1;
  }

  .smr_b2ccartContentMtDT,
  .smr_B2C-text-right {
    font-size: $fontSize0;
  }
}

@media(max-width:463px) {
  .smr_b2ccartImage {
    max-width: 80px;
    object-fit: cover;
  }

  .smr_b2ccartContentTitle {
    font-size: $fontSize1;
  }

  .smr_b2ccartContentMtDT,
  .smr_B2C-text-right {
    font-size: $fontSize0;
  }

  .smr_B2cCartshippingDay {
    display: none;
  }

  .smr_B2cCartshippingDayMobile {
    display: block;
    font-size: $fontSize0;
    color: $titleColor;
    padding: 8px 0px 8px 0px !important;
  }

  .smr_B2cCartPrice {
    display: none;
  }

  .smr_B2cCartPriceDayMobile {
    display: block;
    font-size: $fontSize2;
    color: $titleColor;
    padding: 0px !important;
  }

  .smr_b2cCartRmBtn {
    font-size: $fontSize2;
  }

  .smr_cartB2c-quantity {
    // width: 100px;
    width: 75px;
    height: 40px;
  }
}

@media(min-width:463px) {
  .smr_B2cCartshippingDayMobile {
    display: none;
  }

  .smr_B2cCartPriceDayMobile {
    display: none;
  }
}