@use '../../../theme/fgstore.web/style/variable.scss' as *;

.smr_mainTrending1Div {
    .smr1_trending1TitleDiv {
        text-align: center;
        padding-block: 3%;

        .smr_trending1Title {
            // font-size: 28px;
            // color: $homePageFontColor;
            // font-family: $homePageFontFamily;
            color: $textColor;
            font-size: 27px;
            font-family: $Pratafonts;
            font-weight: 500 !important;
        }

    }

    @media (max-width: 1200px) {
        .smr1_trending1TitleDiv {
            padding: 4% 0px 0px 0px !important;

            .smr_trending1Title {
                font-size: 18px !important;
                margin-top: 10px;
            }
        }
    }

    .smr_trendingProduct-grid {
        display: flex;
        justify-content: space-between;
        padding: 0px 0px 0px 10px;

        .smr_leftSideBestTR {
            width: 50%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }

            .smr_lookbookImageRightDT {
                position: absolute;
                // top: 50%;    kayra default
                top: 87%;
                /* maiora chnages*/
                // left: 40%; kayra default
                left: 45%;
                /* maiora chnages*/
                transform: translate(-30%, -70%);
                transform: translate(-30%, -70%);
                font-size: $fontSize6;
                color: #fff;
                text-transform: capitalize;
                font-family: $homePageFontFamily;
                text-align: center;

                h2 {
                    font-size: $fontSize7;
                    font-family: $homePageFontFamily;
                    left: .8px;
                }

                p {
                    font-size: $fontSize3;
                    font-family: $primaryFontFamily;
                    left: .5px;
                }

                button {
                    width: 160px;
                    height: 35px;
                    font-size: $fontSize2;
                    font-family: $primaryFontFamily;
                    background-color: #fff;
                    color: $titleColor;
                    letter-spacing: .5px;
                    border: none;
                    cursor: pointer;
                }
            }
        }

        .smr_rightSideTR {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            // justify-content: end;
            gap: 10px;
            padding-left: 10px;

            .product-card {
                width: calc(50% - 10px);
                box-sizing: border-box;

                .smr_btimageDiv {
                    padding: 50px;
                    background-color: #f1f1f1;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: contain;
                        max-height: 450px;
                    }
                }

                .product-info {
                    padding: 5px;
                    background-color: #fff;

                    h3 {
                        font-size: $fontSize1;
                        color: $titleColor;
                        font-family: $primaryFontFamily;
                        margin: 0;
                        letter-spacing: .5px;
                    }

                    p {
                        margin: 5px 0;
                        font-size: $fontSize2;
                        color: $titleColor;
                        font-family: $primaryFontFamily;
                        font-weight: bold;
                        letter-spacing: .5px;
                    }

                    span {
                        font-size: $fontSize1;
                        font-family: $primaryFontFamily;
                        color: $titleColor;
                        letter-spacing: .5px;
                    }

                    .smr_btpipe {
                        margin: 0px 3px;
                    }
                }
            }
        }

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;

            .smr_leftSideBestTR,
            .smr_rightSideTR {
                width: 100%;
            }

            .smr_lookbookImageRightDT {
                left: 50%;
                transform: translate(-50%, -70%);
            }
        }

        @media (max-width: 992px) {

            .smr_leftSideBestTR,
            .smr_rightSideTR {
                width: 100%;
            }

            .product-card {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        @media (max-width: 768px) {
            .smr_lookbookImageRightDT {
                left: 50%;
                transform: translate(-50%, -50%);

                h2 {
                    font-size: $fontSize5 !important;
                }

                p {
                    font-size: $fontSize1 !important;
                }

                button {
                    font-size: $fontSize1 !important;
                }
            }

            .product-card {
                width: 100%;
                padding: 0;
                margin: 0 0 10px 0;

                .smr_btimageDiv {
                    padding: 20px !important;
                }
            }
        }

        @media (max-width: 576px) {
            .smr_mainTrending1Div {
                .smr_trendingProduct-grid {
                    padding: 0px 10px !important;
                }
            }

            .smr_leftSideBestTR,
            .smr_rightSideTR {
                width: 100%;
                margin-top: 10px;
                justify-content: center;
                padding: 0;
            }

            .product-card {
                width: 100%;
                margin: 0 0 10px 0;

                .smr_btimageDiv {
                    padding: 10px !important;
                }

                .product-info {
                    padding: 10px;

                    h3 {
                        font-size: $fontSize1 !important;
                    }

                    p {
                        span {
                            font-size: $fontSize2 !important;
                        }
                    }

                    span {
                        font-size: $fontSize0 !important;
                        letter-spacing: .1px !important;
                    }
                }
            }
        }
    }
}