@use '../../../scss/variable.scss' as *;

$cartUpdateBtncolor: #b1b1b1;


.smr_remarkModalBox h2 {
    color: $titleColor !important;
}

.smr_remarkModalBox .smr_projectRemarkBtn-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .smr_remarksave-btn {
        background: $btnBg !important;
        color: $btncolor !important;

        &:hover {
            background-color: $btn1hoverColor;
        }
    }

    .smr_remarkcancel-btn {
        background-color: $btn1bgColor;
        color: $btn1FontColor;
        border: 1px solid $titleColor;

        &:hover {
            background-color: #f3f4f6;
        }
    }
}


@media(max-width:445px) {
    .smr_remarkModalBox {
        padding: 20px 8px 20px 8px !important;
        width: 300px;

        h2 {
            color: $titleColor !important;
            font-size: $fontSize2 !important;
        }

        .smr_projectRemarkBtn-group {

            .smr_remarksave-btn,
            .smr_remarkcancel-btn {
                font-size: $fontSize0 !important;
                padding: 5px 10px !important;
            }
        }

        .smr_RemarkMoalInput textarea {
            font-size: $fontSize1 !important;
        }
    }
}