@use '../../../../theme/fgstore.web/style/variable.scss' as *;


.smr_yourProfile {
  color: $titleColor;
  font-family: $Pfonts;

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: black !important;
  }

  .css-1x5jdmq.Mui-disabled {
    -webkit-text-fill-color: black !important;
  }

  .smilingEditProfilePopup_SMR {
    overflow: scroll;
    width: 500px !important;
  }

  @media screen and (max-width: 1000px) {
    .mobileEditProfileDiv {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      width: 100% !important;
    }
  }

  @media screen and (max-width: 700px) {
    .userProfileMain {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .smilingEditProfilePopup_SMR {
      width: 95% !important;
      margin: 5px !important;
    }
  }

  .smr_SmilingAddEditAddrwess {
    height: 40px;
    width: 160px;
    font-weight: 700 !important;
    opacity: 0.9;
    background: $btnBg !important;
    color: $btncolor !important;
    border: none;
  }

  .labgrowRegister {
    width: 430px;
  }

  .smr_SmilingAddEditAddrwess:hover {
    background-color: #fff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .SmilingAddEditAddrwess {
    height: 40px;
    width: 160px;
    opacity: 0.9;
    background: $btnBg !important;
    color: $btncolor !important;
    border: none;
    outline: none;
    font-weight: 500;
  }
  .smilingDeleveryformSaveBtn {
    background: $btnBg !important;
    color: $btncolor !important;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-inline: 5px;
    opacity: 0.8;
    padding: 6px 10px;
    width: 100px;
  }
  .smilingDeleveryformCansleBtn_SMR {
    border: none;
    border-radius: 5px;
    background: $btnBg !important;
    color: $btncolor !important;
    font-weight: 600;
    margin-inline: 5px;
    opacity: 0.8;
    padding: 6px 10px;
    width: 100px;
  }

  @media screen and (max-width: 500px) and (max-height: 600px) {
    .smilingEditProfilePopup_SMR {
      overflow: scroll;
      max-height: 430px;
      width: 85% !important;
    }
  }
  @media screen and (max-width: 320px),
    (max-width: 360px),
    (max-width: 390px),
    (max-width: 430px) and (max-height: 600px) {
    .smilingEditProfilePopup_SMR {
      overflow: scroll;
      max-height: 430px;
      width: 85% !important;
    }
  }

  @media screen and (max-width: 320px),
    (max-width: 360px),
    (max-width: 393px),
    (max-width: 430px) {
    .labgrowRegister {
      width: 100% !important;
    }
  }
}
// }
