@use '../../../../theme/fgstore.web/style/variable.scss' as *;

.address_Account_SMR {
    font-family: $Pfonts;

    .savedAddress {
        text-align: center;
        padding: 15px;
        margin-top: 30px;
        font-size: 20px;
        background: $btnBg !important;
        color: $btncolor !important;
    }
}

.muiSmilingRocksBtnManage {
    /* border: 1px solid #7d7f85 !important; */
    font-size: 13.5px !important;
    font-weight: 600 !important;
    // opacity: .8 !important;
    margin-left: auto !important;
    display: block !important;
    background: $btnBg !important;
    color: $btncolor !important;
}

.manageAddressBlock {
    border: 1px solid #e9e9ed;
    padding: 15px 15px 65px 15px;
    position: relative;
    // height: 100%;
}

.muiSmilingRocksBtnManageEdit {
    /* border: 1px solid #7d7f85 !important; */
    font-size: 13.5px !important;
    font-weight: 700 !important;
    // opacity: .8 !important;
    padding: 7px 20px 7px 20px !important;
    background: $btnBg !important;
    color: $btncolor !important;
}

.muiSmilingRocksBtnManageEdit:hover {
    background: #1f1919 !important;
    color: #1f1919;
    opacity: 0.8;
}

// .muiSmilingRocksBtnManage:hover, .muiSmilingRocksBtnManageEdit:hover{
//     background: #fff !important;
//     color: #1f1919;
//     // opacity: .8;
// }

.addressMainSec {
    gap: 2%;
}

.AddressSec {
    width: 32%;
    min-width: 32%;
    margin-bottom: 2%;
}

.manageAddressInputRadio {
    accent-color: #7d7f85;
    margin-right: 10px;
    margin-left: 1px;
}

.loadingBarManage {
    color: #7d7f85 !important;
}

// .manageAddressDefault{
//     /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
//     /* border: 1px solid rgba(0, 0, 0, 0.35); */

// }

.smilingDeleveryformSaveBtn {
    background: $btnBg !important;
    color: $btncolor !important;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-inline: 5px;
    opacity: .8;
    padding: 6px 10px;
    width: 100px;
}

.smilingDeleveryformCansleBtn_SMR {
    border: none;
    border-radius: 5px;
    background: $btnBg !important;
    color: $btncolor !important;
    font-weight: 600;
    margin-inline: 5px;
    opacity: .8;
    padding: 6px 10px;
    width: 100px;
}

.smilingAddressPopupMain {
    height: 730px;
    width: 570px;
    overflow-x: hidden;
}

@media(max-width: 1024px) {
    .AddressSec {
        width: 49%;
        min-width: 49%;
        /* margin-bottom: 1%; */
    }

}

@media(max-width: 768px) {
    .manageAddressSec>div {
        padding: 0 !important;
    }

    .savedAddress {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .savedAddressManageBtn {
        padding: 3px 10px !important;
    }
}

@media(max-width: 576px) {
    .AddressSec {
        width: 100%;
        min-width: 100%;
    }

    .addressMainSec {
        gap: 0;
    }
}

@media(max-width: 320px), (max-width: 360px), (max-width: 430px) {
    .AddressSec {
        width: 100%;
        min-width: 100%;
    }

    .addressMainSec {
        gap: 0;
    }

    .smilingAddressPopupMain {
        height: 80vh !important;
        width: 100% !important;
        padding: 10px;
    }
}

// }