@use '../../../../theme/fgstore.web/style/variable.scss' as *;

.smr_ticketSys_mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    .smr_ticketSys_Button {
        font-size: 13.5px;
        font-weight: 600;
        background: $btnBg ;
        color: $btncolor ;
        margin-top: 3rem;
    }
}