@use "../../../theme/fgstore.web/style/variable.scss" as *;


.fg-footer {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $Pfonts;
  background-color: $navbarbg;
  color: $navbarcolor;
  text-align: center;
  box-shadow: inset 0px 11px 8px -10px #9b9b9b3f, inset 0px -8px 8px -10px #ccc;
  &__inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }

  /* Logo */
  &__logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  &__logo-img {
    width: auto;
    height: 40px;
    object-fit: contain;
  }

  /* Navigation */
  &__nav {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__nav-link {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: $footertextcolor;
    position: relative;
    transition: color 0.3s ease;

    &::before {
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0%;
      height: 2px;
      content: "";
      background-color: #9596996e;
      transition: 0.3s ease-in-out;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:hover::before {
      width: 100%;
    }
  }

  /* Social Media */
  &__social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  &__social-link {
    display: block;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__social-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Copyright */
  &__copy {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }

  /* Responsive */
  @media (max-width: 768px) {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      justify-content: center;
      margin-bottom: 20px;
    }

    &__nav {
      flex-direction: column;
      margin-top: 10px;
      gap: 15px;
    }

    &__social {
      justify-content: center;
      margin-top: 20px;
    }
  }
}
